{% extends 'base.html' %}

{% block content%}

{% load static %}

<div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h2 class="text-center" style="margin-top: 28px;">SAMITHIS OF SSSSO HYDERABAD DIST</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center"><img class="img-fluid shadow-lg" src="{% static 'assets/img/swami-standing.png' %}"></h1>
            </div>
            <div class="col" style="background: rgb(255,255,255);box-shadow: 0px 0px 3px 3px rgba(187,215,242,0.73);">
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">AMEERPET</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="{% url 'as_display_page' %}">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">AMBERPET</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">DILSUKHNAGAR</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">GANDHINAGAR</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="{% url 'himayathnagar' %}">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">HIMAYATHNAGAR</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">KACHIGUDA</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">KHAIRTABAD</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">KOTI</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">MARREDPALLY</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">MEHDIPATNAM</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">PRASANTHINAGAR</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">SEETHAPHALMANDI</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">S R NAGAR</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">TARNAKA</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">VENGALRAO NAGAR</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#">
                        <h2 class="shadow-sm" style="color: var(--bs-gray-100);background: var(--bs-blue);text-align: center;padding: 0px;padding-top: 10px;padding-bottom: 10px;border-radius: 5px;margin-top: 25px;margin-bottom: 0px;">VIDYANAGAR</h2>
                    </a></div>
                <div><a class="text-decoration-none" href="#"></a></div>
            </div>
        </div>
    </div>














{% endblock %}

