{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Lightbox-Gallery' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css' %}">

</head>
<body>
{% load static %}
<nav class="navbar navbar-light navbar-expand-md shadow" style="background: var(--bs-light);">
        <div class="container"><a class="navbar-brand" href="#"></a><img src="{% static 'assets/img/Logo.png' %}" width="50px"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 style="color: rgb(26,130,234);">SRI SATHYA SAI SEVA ORGANISATIONS, {{about_samithi.title}}&nbsp;<span></span></h4>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}" style="color: var(--bs-blue);">Home</a></li>

                    <li class="nav-item"><a class="nav-link" href="{% url 'all_samithi_link_page' %}" style="color: var(--bs-blue);">Samithis</a></li>

                </ul>
            </div>
        </div>
    </nav>

<div class="container-fluid">
<img src="{{about_samithi.main_img.url}}" class="img-fluid " width="100%" >
    </div>

<section class="article-list">
            <div class="container">`
                <div class="intro">
                    <h2 class="text-center" style="color:#dc3545">About Samithi</h2>
<!--                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>-->
                </div>
                <div class="row articles">
                   <P> {{about_samithi.about_samithi | safe}}</P>
                </div>
            </div>
        </section>
        <section>

            <section class="article-list">
            <div class="container">`
                <div class="intro">
                    <h2 class="text-center" style="color:#dc3545">Samithi Office Bearers</h2>
<!--                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>-->
                </div>
                <div class="table-responsive" >
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for ob in office_bearers %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ob.name}}<br></td>
                                    <td>{{ob.designation}}</td>
                                    <td>{{ob.mobile}}<br></td>
                                    <td>{{ob.email}}<br></td>
                                    <td>{{ob.address}}<br></td>
                                </tr>
                            {% endfor %}
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>

            </div>
        </section>

<!--                   <div class="table-responsive">-->
<!--                    <table class="table">-->
<!--                        <tbody>-->
<!--                            <tr>-->
<!--&lt;!&ndash;                                <td style="width: 200px;">Name of the Samithi:</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                <td>{{about_samithi.title}}</td>&ndash;&gt;-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="width: 200px;">About Samithi:</td>-->
<!--                                <td>{{about_samithi.about_samithi | safe}}</td>-->
<!--                            </tr>-->
<!--                             <tr>-->
<!--&lt;!&ndash;                                 <td>Activity Photos :</td>&ndash;&gt;-->
<!--                                <td>-->

<!--                                </div>-->

<!--                                </td>-->
<!--                            </tr>-->




<!--                        </tbody>-->
<!--                    </table>-->
                </div>
            </div>
        </div>
        </div>
<section class="article-list">
            <div class="container">`
                <div class="intro">
                    <h2 class="text-center" style="color:#dc3545">Recent Activities</h2>
<!--                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>-->
                </div>
                <div class="row articles">
                    {% for report in recent_reports %}
                    <div class="col-sm-12 col-md-3 item"><a href="{% url 'as_report_display_page' report.id  %}"><img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="{{report.photo1.url }}"  style="height: 200px; width:300px; " ></a>
                        <h3 class="name" style="margin-top:0">{{report.wings}}</h3>
                        <p class="description">{{report.place}}</p><a class="action" href="{% url 'as_report_display_page' report.id  %}"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>

                   {% endfor %}
                </div>
            </div>
        </section>













    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"-->
<!--        crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
    <script src="{% static 'assets/js/Lightbox-Gallery.js' %}"></script>
    <script src="{% static 'assets/js/smart-forms.min.js' %}"></script>
    <script src="{% static 'assets/js/apps.js' %}"></script>

</body>

</html>

